extends ../layouts/backend

block head
    link(rel="stylesheet", href="/vendor/fileupload/css/jquery.fileupload-ui.css")
    link(rel="stylesheet", href="/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css")

block content
    div.page-header
        h2
            a(href="/admin/template") Templates
            |  / Edit template

            span.pull-right
                button#saveButton.btn.btn-primary(type="button") Save
                a.btn.btn-link(href="/admin/template/add") Add new template

    include ../partial/flash

    ul.nav.nav-tabs
        li.active
            a(href="#general", data-toggle="tab") General
        li
            a(href="#files", data-toggle="tab") Files

    div.tab-content
        div#general.tab-pane.active
            form#editTemplateForm.form-horizontal(action="/admin/template/edit/#{template._id}", method="post")
                div.form-group
                    label.control-label.col-lg-2 Name
                    div.col-lg-6
                        input.form-control(type="text", name="name", value="#{template.name}")

                div.form-group
                    label.control-label.col-lg-2 Slug
                    div.col-lg-6
                        input.form-control(type="text", name="slug", value="#{template.slug}")

                div.form-group
                    label.control-label.col-lg-2 Demo URL
                    div.col-lg-8
                        input.form-control(type="text", name="demo_url", placeholder="http://", value="#{template.demo_url}")

                div.form-group
                    label.control-label.col-lg-2 Preset styles
                    div#themes.col-lg-10
                        div#themeTemplate.hide.row(style="margin-bottom: 10px;")
                            div.col-lg-3
                                input.form-control(type="text", name="theme.name[]", placeholder="Name")
                            div.col-lg-2
                                input.form-control(type="text", name="theme.color[]", placeholder="Color")
                            div.col-lg-6
                                input.form-control(type="text", name="theme.demo_url[]", placeholder="Style URL")
                            div.col-lg-1
                                button.btn.btn-default.removeThemeButton(type="button")
                                    i.fa.fa-times
                        for theme in template.themes
                            div.row(style="margin-bottom: 10px;")
                                div.col-lg-3
                                    input.form-control(type="text", name="theme.name[]", placeholder="Name", value="#{theme.name}")
                                div.col-lg-2
                                    input.form-control(type="text", name="theme.color[]", placeholder="Color", value="#{theme.color}")
                                div.col-lg-6
                                    input.form-control(type="text", name="theme.demo_url[]", placeholder="Theme URL", value="#{theme.demo_url}")
                                div.col-lg-1
                                    button.btn.btn-default.removeThemeButton(type="button")
                                        i.fa.fa-times

                        button.btn.btn-default#addThemeButton(type="button")
                            i.fa.fa-plus

                div.form-group
                    label.control-label.col-lg-2 Description
                    div.col-lg-8
                        textarea.form-control(name="description", rows=5) #{template.description}

                div.form-group
                    label.control-label.col-lg-2 Tags
                    div.col-lg-8
                        input.form-control(type="text", name="tags", value="#{template.tags}")
                        small.help-block Separate tags by a comma

                div.form-group
                    label.control-label.col-lg-2 Software versions
                    div.col-lg-8
                        input.form-control(type="text", name="software_versions", value="#{template.software_versions}")

                div.form-group
                    label.control-label.col-lg-2 Supported browsers
                    div.col-lg-8
                        div.btn-group
                            button.btn.btn-default.browserButton(type="button", value="IE 8") IE 8
                            button.btn.btn-default.browserButton(type="button", value="IE 9") IE 9
                            button.btn.btn-default.browserButton(type="button", value="IE 10") IE 10
                            button.btn.btn-default.browserButton(type="button", value="Chrome") Chrome
                            button.btn.btn-default.browserButton(type="button", value="Firefox") Firefox
                            button.btn.btn-default.browserButton(type="button", value="Safari") Safari
                            button.btn.btn-default.browserButton(type="button", value="Opera") Opera
                        input(type="hidden", name="browsers", value="#{template.browsers}")

                div.form-group
                    label.control-label.col-lg-2 High resolution
                    div.col-lg-6
                        div.btn-group
                            button.btn.btn-default.highResolutionButton(type="button", value="yes") Yes
                            button.btn.btn-default.highResolutionButton(type="button", value="no") No
                            button.btn.btn-default.highResolutionButton(type="button", value="n/a") N/A
                        input(type="hidden", name="high_resolution", value="#{template.high_resolution || 'n/a'}")

                div.form-group
                    label.control-label.col-lg-2 Year
                    div.col-lg-2
                        input.form-control(type="text", name="year", value="#{template.year}")

                div.form-group
                    div.col-lg-10.col-lg-offset-2
                        div.checkbox
                            label
                                input(type="checkbox", name="free", value="1", checked=template.free)
                                | Free

                div.form-group
                    div.col-lg-10.col-lg-offset-2
                        div.checkbox
                            label
                                input(type="checkbox", name="responsive", value="1", checked=template.responsive)
                                | Support responsive

                div.form-group
                    label.control-label.col-lg-2 Thumbnail
                    div.col-lg-10
                        div.btn.btn-default.fileinput-button
                            span Upload thumbnail
                            input#thumbnailUploader(type="file", name="thumbnail", data-url="/admin/thumb")
                        div(style="margin-top: 20px;")
                            div.progress.progress-striped.active.hide
                                div#thumbProgress.progress-bar.progress-bar-success(style="width: 100%;")
                        div.tb-tmpl-thumb
                            if template.thumbs.original
                                img(src="#{thumbPrefixUrl}#{template.thumbs.original}")
                        input(type="hidden", name="thumbs", value="#{JSON.stringify(template.thumbs)}")

                input(name="uploaded_files", type="hidden")

        div#files.tab-pane
            table.table(class=(template.files.length == 0) ? 'hide' : '')
                thead
                    tr
                        th File name / Size / # Downloads
                        th(style="width: 25%") Description
                        th(style="width: 25%") Progress
                        th Actions
                tbody#uploadedFiles
                    tr#fileRowTemplate.hide
                        td
                        td
                            input.form-control.descriptionText(type="text", disabled)
                        td
                            div.progress.progress-striped.active
                                div.progress-bar.progress-bar-success(style="width: 0%;")
                        td
                            button.btn.btn-danger.removeButton Remove
                    - each file in template.files
                        tr(data-file="#{JSON.stringify(file)}", data-file-name="#{file.name}")
                            td #{file.name} / #{filesize(file.size)} / #{file.num_downloads}
                            td
                                input.form-control.descriptionText(type="text", value="#{file.description}")
                            td
                                div.progress.progress-striped.active.hide
                                    div.progress-bar.progress-bar-success(style="width: 0%;")
                            td
                                div.btn-group
                                    button.btn.btn-danger.removeButton Remove
                                    button.btn.btn-default.changeButton Change

            div.text-center
                p You can choose many files at the same time
                div.btn.btn-default.fileinput-button
                    span Upload files
                    input#uploader(type="file", name="files[]", data-url="/admin/upload", multiple)

    // Remove file confirmation dialog
    div#removeFileDialog.modal.fade.in
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                    h4.modal-title Remove file
                div.modal-body
                    div Are you sure you want to remove this file?
                    div.text-danger This action cannot be undone.
                div.modal-footer
                    button.btn.btn-danger.yesButton Yes
                    button.btn.btn-default(data-dismiss="modal") No

block footerScript
    script(type="text/javascript", src="/vendor/fileupload/js/vendor/jquery.ui.widget.js")
    script(type="text/javascript", src="/vendor/fileupload/js/jquery.iframe-transport.js")
    script(type="text/javascript", src="/vendor/fileupload/js/jquery.fileupload.js")
    script(type="text/javascript", src="/vendor/fileupload/js/jquery.fileupload-process.js")
    script(type="text/javascript", src="/vendor/filesize/filesize.min.js")
    script(type="text/javascript", src="/vendor/bootstrapvalidator/js/bootstrapValidator.min.js")
    script(type="text/javascript", src="/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js")
    script(type="text/javascript").
        $(document).ready(function() {
            // Form validator
            $('#editTemplateForm').bootstrapValidator({
                fields: {
                    name: {
                        validators: {
                            notEmpty: {
                                message: 'The template name is required'
                            }
                        }
                    },
                    slug: {
                        validators: {
                            notEmpty: {
                                message: 'The slug is required'
                            }
                        }
                    },
                    demo_url: {
                        validators: {
                            notEmpty: {
                                message: 'The demo URL is required'
                            },
                            uri: {
                                message: 'The demo URL is not a valid URL'
                            }
                        }
                    },
                    year: {
                        validators: {
                            notEmpty: {
                                message: 'The publishing year is required'
                            },
                            regexp: {
                                regexp: /^\d{4}$/,
                                message: 'The publishing year is not valid'
                            }
                        }
                    }
                }
            });

            // Generate slug based one template's name
            $('input[name="name"]').on('keyup', function() {
                var name = $(this).val(), $slug = $('input[name="slug"]');
                if (name == '') {
                    $slug.val('');
                    return;
                }
                $.ajax({
                    type: 'POST',
                    url: '/admin/template/slug',
                    data: {
                        id: '#{template._id}',
                        name: name
                    },
                    dataType: 'json'
                }).success(function(response) {
                    $slug.val(response.slug);
                });
            });

            // Init data for rows showing uploaded files
            $('#uploadedFiles').find('tr[data-file]').each(function() {
                $(this).data('file', JSON.parse($(this).attr('data-file')))
                       .removeAttr('data-file');
            });

            function updateProgress(fileName, progress) {
                var $tr = $('#uploadedFiles').find('tr[data-file-name="' + fileName + '"]');
                if ($tr) {
                    $tr.find('.progress-bar').css('width', progress);
                    if (progress == '100%') {
                        $tr.find('.progress').removeClass('progress-striped');
                    }
                }
            };

            // Uploader handler
            $('#uploader').fileupload({
                dataType: 'json',
                autoUpload: true,
                url: '/admin/upload',
                start: function(e) {
                    $('.changeButton').attr('disabled', 'disabled');
                    $('#saveButton').attr('disabled', 'disabled');
                },
                done: function(e, data) {
                    var editingRow = $('#uploader').data('editingRow');

                    $.each(data.result.files, function(index, file) {
                        var $tr        = $('#uploadedFiles').find('tr[data-file-name="' + file.name + '"]'),
                            editingRow = $('#uploader').data('editingRow');
                        if ($tr) {
                            $tr.find('input.descriptionText').removeAttr('disabled');
                            if (editingRow) {
                                // Update row data
                                var f = editingRow.data('file');
                                file._id           = f._id;
                                file.num_downloads = f.num_downloads;
                                file.description   = f.description;
                                editingRow.data('file', file);
                            } else {
                                $tr.data('file', file);
                            }
                        }

                        // For small files, I cannot receive the progress via socket
                        // because the upload is done before the socket emits event
                        // In this case, I've to update the progress bar width
                        $tr.find('.progress').removeClass('progress-striped hide').end().find('.progress-bar').css('width', '100%');
                    });

                    $('#uploader').removeData('editingRow').attr('multiple', 'multiple');
                    $('#saveButton').removeAttr('disabled');
                    $('.changeButton').removeAttr('disabled');
                }
            }).on('fileuploadadd', function(e, data) {
                $('#uploadedFiles').parent().removeClass('hide');

                var editingRow = $('#uploader').data('editingRow');
                $.each(data.files, function(index, file) {
                    var $tr = editingRow ? editingRow : $('#fileRowTemplate').clone().appendTo('#uploadedFiles').removeClass('hide').removeAttr('id');
                    $tr
                        .attr('data-file-name', file.name)
                        .find('td')
                            .eq(0).html([file.name, filesize(file.size), 0].join(' / '));
                });
            }).on('fileuploadprogress', function(e, data) {
                updateProgress(data.files[0].name, 100 * data.loaded / data.total + '%');
            });

            var socket = io.connect();
            socket.on('uploadProgress', function(data) {
                // updateProgress(data.filename, data.progress);
            });

            // Upload thumbnail
            $('#thumbnailUploader').fileupload({
                dataType: 'json',
                start: function(e) {
                    $('#saveButton').attr('disabled', 'disabled');
                    // Show the thumbnail generating progress
                    $('#thumbProgress').parent().removeClass('hide');
                },
                done: function(e, data) {
                    $('#thumbProgress').parent().addClass('hide');
                    $('#saveButton').removeAttr('disabled');
                    $('input[name="thumbs"]').val(JSON.stringify(data.result.files));
                    $('.tb-tmpl-thumb').html('').append($('<img/>').attr('src', '#{thumbPrefixUrl}' + data.result.files.original));
                }
            });

            $('#saveButton').on('click', function(e) {
                var uploadedFiles = [], file = null;
                $('#uploadedFiles').find('tr').each(function() {
                    if (file = $(this).data('file')) {
                        uploadedFiles.push(file);
                    }
                });
                $('input[name="uploaded_files"]').val(JSON.stringify(uploadedFiles));

                // Supported browsers
                var browsers = [];
                $('.browserButton.active').each(function() {
                    browsers.push($(this).val());
                });
                $('input[name="browsers"]').val(browsers.join(','));

                $('#editTemplateForm').submit();
            });

            // Update file description handler
           $('#uploadedFiles').on('keyup', '.descriptionText', function() {
               $(this).parents('tr').data('file').description = $(this).val();
           });

            // Remove file handler
            $('#uploadedFiles').on('click', '.removeButton', function() {
                var $that = $(this), removeFileDialog = $('#removeFileDialog');
                removeFileDialog
                    // Yes button click handler
                    .find('.yesButton')
                        .off('click')
                        .on('click', function() {
                            $that.parents('tr').remove();
                            removeFileDialog.modal('hide');
                        })
                        .end()
                    .modal('show');
            });

            // Change file handler
            $('#uploadedFiles').on('click', '.changeButton', function() {
                $('#uploader').data('editingRow', $(this).parents('tr'))
                              .removeAttr('multiple')
                              .click();
            });

            // Update supported browsers option
            $.each("#{template.browsers || ''}".split(','), function(index, browser) {
                $('.browserButton[value="' + browser + '"]').addClass('active').prepend($('<i/>').addClass('fa fa-check'));
            });
            $('.browserButton').on('click', function() {
                if ($(this).hasClass('active')) {
                    $(this).removeClass('active').find('i').remove();
                } else {
                    $(this).addClass('active').prepend($('<i/>').addClass('fa fa-check'));
                }
            });

            // Update high resolution option
            $('.highResolutionButton[value="#{template.high_resolution}"]').addClass('active');
            $('.highResolutionButton').on('click', function() {
                $(this)
                    .parent()
                        .find('button').removeClass('active').end()
                        .end()
                    .addClass('active');
                $('input[name="high_resolution"]').val($(this).val());
            });

            // Manage themes
            $('#addThemeButton').on('click', function() {
                var $row = $('#themeTemplate').clone();
                $row
                    .removeAttr('id')
                    .find('.removeThemeButton')
                        .on('click', function() {
                            $row.remove();
                        })
                        .end()
                    .removeClass('hide')
                    .insertBefore('#addThemeButton');
            });

            $('#themes').on('focus', '[name="theme.color[]"]', function() {
                $(this).colorpicker();
            });
        });