extends ../layouts/backend

block content
    div.page-header
        h2
            a(href="/admin/template") Templates

            if year
                &nbsp;/&nbsp;
                a(href="/admin/template?year=#{year}") #{year}

            span.pull-right
                a.btn.btn-link(href="/admin/template/add")
                    i.fa.fa-plus
                    | &nbsp;Add new template

    if total == 0
        p.text-center There is no templates
    else
        div.row
            div.col-lg-8 Found #{total} templates
            div.col-lg-4.pull-right
                form.form-inline(method="get", action="/admin/template")
                    div.input-group
                        input.form-control(type="text", name="q", value="#{q}")
                        span.input-group-btn
                            button.btn.btn-default(type="submit")
                                i.fa.fa-search

        table.table(style="margin-top: 20px;")
            thead
                tr
                    th Name
                    th Slug
                    th URL
                    th Publishing year
                    th Created date
                    th # Downloads
                    th Actions
            tbody
                for template in templates
                    tr
                        td #{template.name}
                        td #{template.slug}
                        td
                            a(target="_blank", href="#{template.demo_url}") #{template.demo_url}
                        td
                            a(href="#{url(req, { page: 1, year: template.year })}") #{template.year}
                        td #{moment(template.created_date).format('YYYY-MM-DD HH:mm')}
                        td
                            span.badge #{template.num_downloads}
                        td
                            div.btn-group
                                a.btn.btn-default(href="/admin/template/edit/#{template._id}") Edit

        // Pagination
        if (numPages > 1)
            div.text-center
                ul.pagination
                    li
                        a(href="#{url(req, { page: 1 })}") &larr;
                    - for (i = startRange; i <= endRange; i++)
                        li(class=(i == page) ? 'active' : '')
                            a(href="#{url(req, { page: i })}") #{i}
                    li
                        a(href="#{url(req, { page: numPages })}") &rarr;
