extends ../layouts/backend

block content
    div.page-header
        h2
            a(href="/admin/package") Packages
            small
                | &nbsp;(
                a(href="#{url(req, { page: 1, type: 'template' })}") Templates
                | &nbsp;/&nbsp;
                a(href="#{url(req, { page: 1, type: 'extension' })}") Extensions
                | )

            if year
                &nbsp;/&nbsp;
                a(href="/admin/package?year=#{year}") #{year}

            span.pull-right
                a.btn.btn-default(href="/admin/package/add") Add new package

    if total == 0
        p.text-center There is no packages
    else
        div.row
            div.col-lg-8 Found #{total} packages
            div.col-lg-4.pull-right
                form.form-inline(method="get", action="/admin/package")
                    div.input-group
                        input.form-control(type="text", name="q", value="#{q}")
                        span.input-group-btn
                            button.btn.btn-default(type="submit")
                                i.fa.fa-search

        table.table(style="margin-top: 20px;")
            thead
                tr
                    th
                        a(href="#{url(req, { sort: (1 == sortDirection ? '-' : '') + 'name' })}") Name
                    th
                        a(href="#{url(req, { sort: (1 == sortDirection ? '-' : '') + 'slug' })}") Slug
                    th
                        a(href="#{url(req, { sort: (1 == sortDirection ? '-' : '') + 'url' })}") URL
                    th
                        a(href="#{url(req, { sort: (1 == sortDirection ? '-' : '') + 'year' })}") Publishing year
                    th
                        a(href="#{url(req, { sort: (1 == sortDirection ? '-' : '') + 'created_date' })}") Created date
                    th # Downloads
                    th Actions
            tbody
                for package in packages
                    tr
                        td #{package.name}
                        td #{package.slug}
                        td
                            a(target="_blank", href="#{package.demo_url}") #{package.demo_url}
                        td
                            a(href="#{url(req, { page: 1, year: package.year })}") #{package.year}
                        td #{moment(package.created_date).format('YYYY-MM-DD HH:mm')}
                        td
                            span.badge #{package.num_downloads}
                        td
                            div.btn-group
                                a.btn.btn-default(href="/admin/package/edit/#{package._id}") Edit

        // Pagination
        if (numPages > 1)
            div.text-center
                ul.pagination
                    li(class=page == 1 ? 'disabled' : '')
                        a(href="#{url(req, { page: 1 })}") &larr;
                    li(class=page == 1 ? 'disabled' : '')
                        a(href="#{url(req, { page: parseInt(page) - 1 })}") &laquo;
                    - for (i = startRange; i <= endRange; i++)
                        li(class=(i == page) ? 'active' : '')
                            a(href="#{url(req, { page: i })}") #{i}
                    li(class=page == numPages ? 'disabled' : '')
                        a(href="#{url(req, { page: parseInt(page) + 1 })}") &raquo;
                    li(class=page == numPages ? 'disabled' : '')
                        a(href="#{url(req, { page: numPages })}") &rarr;
