extends ../layouts/account

block heading
    h1 Dashboard

block content
    div.row
        if (!subscriptions.length)
            div.col-lg-6.col-lg-offset-3
                div.alert.alert-warning.text-center
                    | You haven't made any subscriptions or all your subscriptions are expired.
                    | Please&nbsp;
                    a(href="#{purchaseUrl}") upgrade your subscription
                    | &nbsp;to download all templates and extensions.
    div.row
        div.col-lg-6
            if (subscriptions.length)
                div.panel.panel-primary
                    div.panel-heading
                        i.fa.fa-dollar
                        |  Your subscriptions
                    table.table
                        thead
                            tr
                                th Title
                                th Expiration
                        tbody
                            for subscription in subscriptions
                                tr
                                    td #{subscription.title}
                                    td
                                        | #{subscription.expiration}&nbsp;
                                        if (moment(subscription.expiration, 'YYYY-MM-DD').isBefore())
                                            span.badge Expired

            div.panel.panel-default
                div.panel-heading
                    i.fa.fa-download
                    |  Recent downloads
                    a#refreshRecentDownloads(href="#")
                        i.pull-right.fa.fa-refresh
                table.table
                    thead
                        tr
                            th File
                            th Package
                            th Downloaded date
                            th Up-to-date
                    tbody#recentDownloads
                div.panel-body.text-center(style="display: none;")
                    i.fa.fa-spin.fa-refresh

        div.col-lg-6
            div.panel.panel-info
                div.panel-heading
                    i.fa.fa-check
                    |  Latest packages
                    a#refreshLatestPackages(href="#")
                        i.pull-right.fa.fa-refresh.fa-inverse
                table.table
                    thead
                        tr
                            th Name
                            th Date
                            th Live demo
                    tbody#latestPackages
                div.panel-body.text-center(style="display: none;")
                    i.fa.fa-spin.fa-refresh

            div.panel.panel-info
                div.panel-heading
                    i.fa.fa-star
                    |  Most downloaded packages
                    a#refreshDownloadedPackages(href="#")
                        i.pull-right.fa.fa-refresh.fa-inverse
                table.table
                    thead
                        tr
                            th Name
                            th # Downloads
                            th Live demo
                    tbody#downloadedPackages
                div.panel-body.text-center(style="display: none;")
                    i.fa.fa-spin.fa-refresh

block footerScript
    script(type="text/javascript", src="/vendor/filesize/filesize.min.js")
    script(type="text/javascript", src="/vendor/moment/moment.min.js")
    script(type="text/javascript").
        $(document).ready(function() {
            // Show recent downloads
            $('#refreshRecentDownloads').click(function() {
                $('#recentDownloads')
                    .find('tr').remove().end()
                    .parents('.panel').find('.panel-body').toggle();
                $.post('/account/dashboard/download', {
                    limit: 5
                }).success(function(response) {
                    var demoUrl = '#{frontEndUrl}';
                    $('#recentDownloads').parents('.panel').find('.panel-body').toggle();
                    $.each(response, function(index, download) {
                        var downloadUrl = '#{downloadUrl}/account/download/' + download.package.slug + '/' + download.file._id;
                        $('<tr/>')
                            .appendTo('#recentDownloads')
                            .append($('<td/>').append($('<a/>').attr('href', downloadUrl).html(download.file.name.length > 30 ? download.file.name.substr(0, 30) + '...' : download.file.name))
                                              .append($('<div/>').html(filesize(download.file.size))))
                            .append($('<td/>').append($('<a/>').attr('href', !download.package ? '#' : ('template' == download.package.type ? demoUrl + '#' + download.package.slug : (download.package.demo_url || '#'))).html(download.package ? download.package.name : '-')))
                            .append($('<td/>').html(moment(download.downloaded_date).fromNow()))
                            .append(moment(download.downloaded_date).isAfter(download.file.uploaded_date)
                                    ? $('<td/>').html('<i class="fa fa-check"></i>')
                                    : $('<td/>').append($('<a/>').addClass('btn btn-success').attr('href', downloadUrl).html('Update available'))
                            );
                    });
                });
            }).click();

            // Show latest packages
            $('#refreshLatestPackages').click(function() {
                $('#latestPackages')
                    .find('tr').remove().end()
                    .parents('.panel').find('.panel-body').toggle();
                $.post('/account/dashboard/package/latest', {
                    limit: 10
                }).success(function(response) {
                    var demoUrl = '#{frontEndUrl}';
                    $('#latestPackages').parents('.panel').find('.panel-body').toggle();
                    $.each(response, function(index, package) {
                        $('<tr/>')
                            .appendTo('#latestPackages')
                            .append(
                                $('<td/>').append($('<a/>').attr('href', '/account/package/' + package.slug).html(package.name))
                                          .append(package.free ? $('<span/>').css('margin-left', '10px').addClass('badge').html('Free') : '')
                            )
                            .append(
                                $('<td/>').html(moment(package.created_date).fromNow())
                            )
                            .append(
                                $('<td/>').append(package.demo_url ? $('<a/>').attr('target', '_blank').attr('href', package.type == 'template' ? demoUrl + '#' + package.slug : package.demo_url).html('Demo') : 'n/a')
                            );
                    });
                });
            }).click();

            // Show most downloaded packages
            $('#refreshDownloadedPackages').click(function() {
                $('#downloadedPackages')
                    .find('tr').remove().end()
                    .parents('.panel').find('.panel-body').toggle();
                $.post('/account/dashboard/package/downloaded', {
                    limit: 10
                }).success(function(response) {
                    var demoUrl = '#{frontEndUrl}';
                    $('#downloadedPackages').parents('.panel').find('.panel-body').toggle();
                    $.each(response, function(index, package) {
                        $('<tr/>')
                            .appendTo('#downloadedPackages')
                            .append(
                                $('<td/>').append($('<a/>').attr('href', '/account/package/' + package.slug).html(package.name))
                                          .append(package.free ? $('<span/>').css('margin-left', '10px').addClass('badge').html('Free') : '')
                            )
                            .append(
                                $('<td/>').html(package.num_downloads)
                            )
                            .append(
                                $('<td/>').append(package.demo_url ? $('<a/>').attr('target', '_blank').attr('href', package.type == 'template' ? demoUrl + '#' + package.slug : package.demo_url).html('Demo') : 'n/a')
                            );
                    });
                });
            }).click();
        });
