extends ../layouts/account

block heading
    h2
        a(href="/account/package") Packages

        if criteria.year
            small
                |  &rarr;&nbsp;
                a(href="/account/package?year=#{criteria.year}") #{criteria.year}

        | &nbsp;
        small.btn-group
            a.btn.btn-sm.btn-default(href="#{url(req, { page: 1 }, ['type'])}", class=criteria.type == null ? 'active' : '') All
            a.btn.btn-sm.btn-default(href="#{url(req, { page: 1, type: 'template' })}", class=criteria.type == 'template' ? 'active' : '') Templates
            a.btn.btn-sm.btn-default(href="#{url(req, { page: 1, type: 'extension' })}", class=criteria.type == 'extension' ? 'active' : '') Extensions

        | &nbsp;
        small.btn-group
            a.btn.btn-sm.btn-default(href="#{url(req, { page: 1 }, ['downloadable'])}", class=isDownloadable == null ? 'active' : '') All
            a.btn.btn-sm.btn-default(href="#{url(req, { page: 1, downloadable: 'true' })}", class=isDownloadable == 'true' ? 'active' : '') Downloadable
            a.btn.btn-sm.btn-default(href="#{url(req, { page: 1, downloadable: 'false' })}", class=isDownloadable == 'false' ? 'active' : '') Purchase

        div.pull-right.col-lg-4
            form.form-inline(method="get", action="/account/package")
                div.input-group
                    input.form-control(type="text", name="q", value="#{q}")
                    span.input-group-btn
                        button.btn.btn-success(type="submit")
                            i.fa.fa-search

block content
    if total == 0
        p.text-center There is no packages
    else
        p(style="margin-bottom: 20px;") Found #{total} packages

        - each package, index in packages
            if (index % 3 == 0)
                | <div class="row">

            div.col-lg-4
                div.tb-tmpl-item
                    a(href="/account/package/#{package.slug}")
                        img.img-responsive.img-thumbnail(src=(package.thumbs && package.thumbs.medium) ? '#{thumbPrefixUrl}' + package.thumbs.medium : '/asset/img/noimage.png')

                    h3
                        a(href="/account/package/#{package.slug}") #{package.name}
                        small &nbsp;/&nbsp;
                        small
                            a(href="#{url(req, { page: 1, year: package.year })}") #{package.year}

                    if package.description
                        p #{package.description.substr(0, 200)}...
                    if package.software_versions
                        small.help-block
                            i.fa.fa-heart
                            for software in package.software_versions.split(',')
                                span.label.label-success(style="margin: 0 5px;") #{software}
                    if package.browsers
                        small.help-block
                            i.fa.fa-check
                            for browser in package.browsers.split(',')
                                span.label.label-info(style="margin: 0 5px;") #{browser}
                    if package.responsive
                        small.help-block
                            i.fa.fa-mobile.fa-2x
                            | &nbsp; Responsive

                    if package.files.length > 0
                        div.text-center
                            if downloadable(package, membershipIds)
                                div.btn-group
                                    button.btn.btn-info.dropdown-toggle(type="button", data-toggle="dropdown")
                                        | Download &nbsp;
                                        span.caret

                                    ul.dropdown-menu
                                        for file in package.files
                                            li.text-left
                                                a(href="#{downloadUrl}/account/download/#{package.slug}/#{file._id}") #{file.name} (#{filesize(file.size)})
                            else
                                a.btn.btn-danger(href="#{purchaseUrl}") Purchase

            if (index % 3 == 2 || index == packages.length - 1)
                | </div>
            if (index % 3 == 2 && index < packages.length - 1)
                hr(style="padding: 10px 0;")

        div.clearfix

        // Pagination
        if (numPages > 1)
            div.text-center
                ul.pagination
                    li(class=page == 1 ? 'disabled' : '')
                        a(href="#{url(req, { page: 1 })}") &larr;
                    li(class=page == 1 ? 'disabled' : '')
                        a(href="#{url(req, { page: parseInt(page) - 1 })}") &laquo;
                    - for (i = startRange; i <= endRange; i++)
                        li(class=(i == page) ? 'active' : '')
                            a(href="#{url(req, { page: i })}") #{i}
                    li(class=page == numPages ? 'disabled' : '')
                        a(href="#{url(req, { page: parseInt(page) + 1 })}") &raquo;
                    li(class=page == numPages ? 'disabled' : '')
                        a(href="#{url(req, { page: numPages })}") &rarr;

        div(style="margin-bottom: 200px;")
