extends ../layouts/backend

block heading
    h1
        a(href="/admin/package") Packages

        if criteria.year
            small
                |  &rarr;&nbsp;
                a(href="/admin/package?year=#{criteria.year}") #{criteria.year}

        | &nbsp;

        small.btn-group
            a.btn.btn-sm.btn-default(href="#{url(req, { page: 1, type: 'template' })}", class=criteria.type == 'template' ? 'active' : '') Templates
            a.btn.btn-sm.btn-default(href="#{url(req, { page: 1, type: 'extension' })}", class=criteria.type == 'extension' ? 'active' : '') Extensions

        span.pull-right
            a.btn.btn-info(href="/admin/package/add")
                i.fa.fa-plus
                |  Add new package

block content
    if total == 0
        p.text-center There is no packages
    else
        div.row
            div.col-lg-8 Found #{total} packages
            div.col-lg-4.pull-right
                form.form-inline(method="get", action="/admin/package")
                    div.input-group
                        input.form-control(type="text", name="q", value="#{q}")
                        span.input-group-btn
                            button.btn.btn-success(type="submit")
                                i.fa.fa-search

        table.table.table-hover(style="margin-top: 20px;")
            thead
                tr
                    th
                        a(href="#{url(req, { sort: (1 == sortDirection ? '-' : '') + 'name' })}")
                            if ('name' == sortBy && 1 == sortDirection)
                                | &uarr;&nbsp;
                            else if ('name' == sortBy && -1 == sortDirection)
                                | &darr;&nbsp;
                            | Name
                    th
                        a(href="#{url(req, { sort: (1 == sortDirection ? '-' : '') + 'url' })}")
                            if ('url' == sortBy && 1 == sortDirection)
                                | &uarr;&nbsp;
                            else if ('url' == sortBy && -1 == sortDirection)
                                | &darr;&nbsp;
                            | URL
                    th
                        a(href="#{url(req, { sort: (1 == sortDirection ? '-' : '') + 'year' })}")
                            if ('year' == sortBy && 1 == sortDirection)
                                | &uarr;&nbsp;
                            else if ('year' == sortBy && -1 == sortDirection)
                                | &darr;&nbsp;
                            | Publishing year
                    th
                        a(href="#{url(req, { sort: (1 == sortDirection ? '-' : '') + 'created_date' })}")
                            if ('created_date' == sortBy && 1 == sortDirection)
                                | &uarr;&nbsp;
                            else if ('created_date' == sortBy && -1 == sortDirection)
                                | &darr;&nbsp;
                            | Created date
                    th Downloads
                    th Actions
            tbody
                for package in packages
                    tr
                        td #{package.name}
                        td
                            a(target="_blank", href="#{package.demo_url}") #{package.demo_url}
                        td
                            a(href="#{url(req, { page: 1, year: package.year })}") #{package.year}
                        td #{moment(package.created_date).format('YYYY-MM-DD HH:mm')}
                        td
                            a(href="/admin/log/download?package=#{package._id}") #{package.num_downloads}
                        td
                            div.btn-group
                                a.btn.btn-info(href="/admin/package/edit/#{package._id}")
                                    i.fa.fa-edit

        // Pagination
        if (numPages > 1)
            div.text-center
                ul.pagination
                    li(class=page == 1 ? 'disabled' : '')
                        a(href="#{url(req, { page: 1 })}") &larr;
                    li(class=page == 1 ? 'disabled' : '')
                        a(href="#{url(req, { page: parseInt(page) - 1 })}") &laquo;
                    - for (i = startRange; i <= endRange; i++)
                        li(class=(i == page) ? 'active' : '')
                            a(href="#{url(req, { page: i })}") #{i}
                    li(class=page == numPages ? 'disabled' : '')
                        a(href="#{url(req, { page: parseInt(page) + 1 })}") &raquo;
                    li(class=page == numPages ? 'disabled' : '')
                        a(href="#{url(req, { page: numPages })}") &rarr;
