extends ../layouts/account

block content
    div.page-header
        h2
            a(href="/account/package") Packages

            if criteria.year
                &nbsp;/&nbsp;
                a(href="/account/package?year=#{criteria.year}") #{criteria.year}

            | &nbsp;
            small.btn-group
                a.btn.btn-sm.btn-default(href="#{url(req, { page: 1 }, ['type'])}", class=criteria.type == null ? 'active' : '') All
                a.btn.btn-sm.btn-default(href="#{url(req, { page: 1, type: 'template' })}", class=criteria.type == 'template' ? 'active' : '') Templates
                a.btn.btn-sm.btn-default(href="#{url(req, { page: 1, type: 'extension' })}", class=criteria.type == 'extension' ? 'active' : '') Extensions

            | &nbsp;
            small.btn-group
                a.btn.btn-sm.btn-default(href="#{url(req, { page: 1 }, ['downloadable'])}", class=isDownloadable == null ? 'active' : '') All
                a.btn.btn-sm.btn-default(href="#{url(req, { page: 1, downloadable: 'true' })}", class=isDownloadable == 'true' ? 'active' : '') Downloadable
                a.btn.btn-sm.btn-default(href="#{url(req, { page: 1, downloadable: 'false' })}", class=isDownloadable == 'false' ? 'active' : '') Purchase

    if total == 0
        p.text-center There is no packages
    else
        div.row(style="margin-bottom: 20px;")
            div.col-lg-8 Found #{total} packages
            div.col-lg-4.pull-right
                form.form-inline(method="get", action="/account/package")
                    div.input-group
                        input.form-control(type="text", name="q", value="#{q}")
                        span.input-group-btn
                            button.btn.btn-default(type="submit")
                                i.fa.fa-search

        - each package, index in packages
            if (index % 3 == 0)
                div.row
            div.col-lg-4
                div.tb-tmpl-item
                    if (package.thumbs && package.thumbs.medium)
                        img(src="#{thumbPrefixUrl}#{package.thumbs.medium}")
                    else
                        img(src="/asset/img/noimage.png")

                    h3
                        | #{package.name}
                        small &nbsp;/&nbsp;
                        small
                            a(href="#{url(req, { page: 1, year: package.year })}") #{package.year}

                    if package.description
                        p #{package.description.substr(0, 200)}...
                    if package.responsive
                        small.help-block
                            i.fa.fa-mobile.fa-2x
                            | &nbsp; Responsive
                    if package.browsers
                        small.help-block
                            i.fa.fa-check
                            | &nbsp; #{package.browsers.split(',').join(', ')}
                    if package.software_versions
                        small.help-block
                            i.fa.fa-heart
                            | &nbsp; #{package.software_versions.split(',').join(', ')}

                    if package.files.length > 0
                        div.text-center
                            if downloadable(package, membershipIds)
                                div.btn-group
                                    button.btn.btn-success.dropdown-toggle(type="button", data-toggle="dropdown")
                                        | Download &nbsp;
                                        span.caret

                                    ul.dropdown-menu
                                        for file in package.files
                                            li.text-left
                                                a(href="#{downloadUrl}/account/download/#{package.slug}/#{file._id}") #{file.name} (#{filesize(file.size)})
                            else
                                a.btn.btn-danger(href="#{purchaseUrl}") Purchase

        div.clearfix

        // Pagination
        if (numPages > 1)
            div.text-center
                ul.pagination
                    li(class=page == 1 ? 'disabled' : '')
                        a(href="#{url(req, { page: 1 })}") &larr;
                    li(class=page == 1 ? 'disabled' : '')
                        a(href="#{url(req, { page: parseInt(page) - 1 })}") &laquo;
                    - for (i = startRange; i <= endRange; i++)
                        li(class=(i == page) ? 'active' : '')
                            a(href="#{url(req, { page: i })}") #{i}
                    li(class=page == numPages ? 'disabled' : '')
                        a(href="#{url(req, { page: parseInt(page) + 1 })}") &raquo;
                    li(class=page == numPages ? 'disabled' : '')
                        a(href="#{url(req, { page: numPages })}") &rarr;

        div(style="margin-bottom: 200px;")
