extends ../layouts/backend

block head
    style(type="text/css").
        .tooltip-inner { max-width: 300px; }

block content
    div.page-header
        h2
            a(href="/admin/log/download") Download history

            if criteria.package && total > 0
                |  /&nbsp;
                a(href="#{url(req, { page: 1, package: downloads[0].package._id + '' })}") #{downloads[0].package.name}

    div.row(style="margin-bottom: 20px;")
        form(method="GET", action="/admin/log/download")
            div.col-lg-4
                p Filter by date
                div.btn-group
                    a.btn.btn-sm.btn-default(href="#{url(req, { page: 1 }, ['days'])}", class=days == null ? 'active' : '') All
                    a.btn.btn-sm.btn-default(href="#{url(req, { page: 1, days: 2 })}", class=days == 2 ? 'active' : '') Today and Yesterday
                    a.btn.btn-sm.btn-default(href="#{url(req, { page: 1, days: 7 })}", class=days == 7 ? 'active' : '') Last 7 days
                    a.btn.btn-sm.btn-default(href="#{url(req, { page: 1, days: 30 })}", class=days == 30 ? 'active' : '') Last 30 days
            div.col-lg-4
                p Filter by account
                div.input-group
                    div.input-group-btn
                        a.btn.btn-sm.btn-default(href="#{url(req, { page: 1 }, ['account', 'guest'])}", class=criteria.user_name == null ? 'active' : '') All
                        a.btn.btn-sm.btn-default(href="#{url(req, { page: 1, guest: true }, ['account'])}", class=criteria.user_name == '@guest' ? 'active' : '') Guests
                    input.form-control.input-sm(type="text", name="account", placeholder="Enter the account username", value="#{criteria.user_name || ''}")
            div.col-lg-4
                p Filter by IP
                div.input-group
                    div.input-group-btn
                        a.btn.btn-sm.btn-default(href="#{url(req, { page: 1 }, ['ip'])}", class=criteria.ip == null ? 'active' : '') All
                    input.form-control.input-sm(type="text", name="ip", placeholder="Enter the IP address", value="#{criteria.ip || ''}")


    if total == 0
        p.text-center There is no downloads
    else
        p Found #{total} downloads

        table.table(style="margin-top: 20px;")
            thead
                tr
                    th
                        a(href="#{url(req, { sort: (1 == sortDirection ? '-' : '') + 'user_name' })}")
                            if ('user_name' == sortBy && 1 == sortDirection)
                                | &uarr;&nbsp;
                            else if ('user_name' == sortBy && -1 == sortDirection)
                                | &darr;&nbsp;
                            | Account username
                    th
                        a(href="#{url(req, { sort: (1 == sortDirection ? '-' : '') + 'downloaded_date' })}")
                            if ('downloaded_date' == sortBy && 1 == sortDirection)
                                | &uarr;&nbsp;
                            else if ('downloaded_date' == sortBy && -1 == sortDirection)
                                | &darr;&nbsp;
                            | Downloaded date
                    th
                        a(href="#{url(req, { sort: (1 == sortDirection ? '-' : '') + 'ip' })}")
                            if ('ip' == sortBy && 1 == sortDirection)
                                | &uarr;&nbsp;
                            else if ('ip' == sortBy && -1 == sortDirection)
                                | &darr;&nbsp;
                            | IP
                    th File
                    th Package
            tbody
                for download in downloads
                    tr
                        td
                            if download.user_name == '@guest'
                                a.accountLabel(href="#{url(req, { page: 1, guest: true }, ['account'])}") #{download.user_name}
                            else
                                a.accountLabel(href="#{url(req, { page: 1, account: download.user_name }, ['guest'])}") #{download.user_name}
                        td #{moment(download.downloaded_date).format('YYYY-MM-DD HH:mm')}
                        td
                            a(href="#{url(req, { page: 1, ip: download.ip })}") #{download.ip}
                        td
                            a(href="#{url(req, { page: 1, file: download.file._id + '' })}") #{download.file.name}
                            |  / #{filesize(download.file.size)}
                        td
                            if download.package
                                a(href="#{url(req, { page: 1, package: download.package._id + '' })}") #{download.package.name}
                                if download.package.demo_url
                                    | &nbsp;
                                    a(target="_blank", href=download.package.type == 'template' ? '#{frontEndUrl}#' + download.package.slug : download.package.demo_url) (Demo)
                            else
                                | -

        // Pagination
        if (numPages > 1)
            div.text-center
                ul.pagination
                    li(class=page == 1 ? 'disabled' : '')
                        a(href="#{url(req, { page: 1 })}") &larr;
                    li(class=page == 1 ? 'disabled' : '')
                        a(href="#{url(req, { page: parseInt(page) - 1 })}") &laquo;
                    - for (i = startRange; i <= endRange; i++)
                        li(class=(i == page) ? 'active' : '')
                            a(href="#{url(req, { page: i })}") #{i}
                    li(class=page == numPages ? 'disabled' : '')
                        a(href="#{url(req, { page: parseInt(page) + 1 })}") &raquo;
                    li(class=page == numPages ? 'disabled' : '')
                        a(href="#{url(req, { page: numPages })}") &rarr;

block footerScript
    script(type="text/javascript").
        $(document).ready(function() {
            $('.accountLabel').on('mouseover', function() {
                var $that = $(this), account = $that.html();
                if (account != '@guest') {
                    if ($that.data('bs.tooltip') == null) {
                        $that.tooltip({
                            html: true,
                            title: '<i class="fa fa-refresh fa-spin"></i> Loading membership info ...'
                        }).tooltip('show');

                        $.post('/admin/membership/account', {
                            account: account
                        }).success(function(response) {
                            var memberships = [];
                            for (var i in response.memberships) {
                                memberships.push(response.memberships[i].name + ' (' + response.memberships[i].expiration + ')');
                            }
                            $that
                                .tooltip('destroy')
                                .tooltip({
                                    html: true,
                                    title: memberships.join('<br />')
                                })
                                .tooltip('show');
                        });
                    }
                }
            });
        });

